---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>The core message</title>
  </head>
  <body>
    <h1>To use an attribute to show that attributes are not attributes is not as good as using a non-attribute to show that attributes are not attributes. 
    To use a horse to show that a horse is not a horse is not as good as using a non-horse to show that a horse is not a horse, Heaven and earth are one attribute; the ten thousand things are one horse.
</h1>
  </body>
</html>
